USE [ChineseAuctionDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[PrizeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryPrize]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryPrize](
	[CategoriesId] [int] NOT NULL,
	[PrizesId] [int] NOT NULL,
 CONSTRAINT [PK_CategoryPrize] PRIMARY KEY CLUSTERED 
(
	[CategoriesId] ASC,
	[PrizesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donors]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Company] [nvarchar](100) NULL,
 CONSTRAINT [PK_donors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPackage]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPackage](
	[OrdersId] [int] NOT NULL,
	[PackagesId] [int] NOT NULL,
 CONSTRAINT [PK_OrderPackage] PRIMARY KEY CLUSTERED 
(
	[OrdersId] ASC,
	[PackagesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPrize]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPrize](
	[OrdersId] [int] NOT NULL,
	[PrizesId] [int] NOT NULL,
 CONSTRAINT [PK_OrderPrize] PRIMARY KEY CLUSTERED 
(
	[OrdersId] ASC,
	[PrizesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[packages]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NumOfTickets] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prizes]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Qty] [int] NOT NULL,
	[DonorId] [int] NOT NULL,
 CONSTRAINT [PK_prizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrizeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[winners]    Script Date: 16/02/2026 14:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[winners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PrizeId] [int] NOT NULL,
 CONSTRAINT [PK_winners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'', N'')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251217184036_InitialCreate17122025', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251223161129_changeName231225', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([Id], [UserId]) VALUES (1, 7)
INSERT [dbo].[carts] ([Id], [UserId]) VALUES (2, 11)
INSERT [dbo].[carts] ([Id], [UserId]) VALUES (3, 17)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([Id], [Name]) VALUES (2, N'Electronic')
INSERT [dbo].[categories] ([Id], [Name]) VALUES (5, N'Home Styling')
INSERT [dbo].[categories] ([Id], [Name]) VALUES (7, N'Kitchen')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[CategoryPrize] ([CategoriesId], [PrizesId]) VALUES (8, 4)
INSERT [dbo].[CategoryPrize] ([CategoriesId], [PrizesId]) VALUES (24, 4)
INSERT [dbo].[CategoryPrize] ([CategoriesId], [PrizesId]) VALUES (9, 7)
GO
SET IDENTITY_INSERT [dbo].[donors] ON 

INSERT [dbo].[donors] ([Id], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Company]) VALUES (10, N'Master', N'Chef Kitchens', N'122 Industrial Way, NY', N'contact@masterchef.com', N'555-01012', NULL)
INSERT [dbo].[donors] ([Id], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Company]) VALUES (11, N'Elite', N'Electronics', N'45 Tech Plaza, CA', N'support@elite-elec.com', N'555-0102', NULL)
INSERT [dbo].[donors] ([Id], [FirstName], [LastName], [Address], [Email], [PhoneNumber], [Company]) VALUES (12, N'Grand', N'Boutique Hotel', N'88 Ocean Drive, FL', N'reservations@grandhotel.com', N'555-0103', NULL)
SET IDENTITY_INSERT [dbo].[donors] OFF
GO
INSERT [dbo].[OrderPackage] ([OrdersId], [PackagesId]) VALUES (8, 2)
INSERT [dbo].[OrderPackage] ([OrdersId], [PackagesId]) VALUES (12, 2)
INSERT [dbo].[OrderPackage] ([OrdersId], [PackagesId]) VALUES (13, 2)
GO
INSERT [dbo].[OrderPrize] ([OrdersId], [PrizesId]) VALUES (5, 4)
INSERT [dbo].[OrderPrize] ([OrdersId], [PrizesId]) VALUES (6, 4)
INSERT [dbo].[OrderPrize] ([OrdersId], [PrizesId]) VALUES (8, 4)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([Id], [UserId], [OrderDate], [TotalPrice]) VALUES (5, 11, CAST(N'2026-01-06T18:53:08.3927311' AS DateTime2), 280)
INSERT [dbo].[orders] ([Id], [UserId], [OrderDate], [TotalPrice]) VALUES (6, 7, CAST(N'2026-01-06T18:58:26.1825878' AS DateTime2), 275)
INSERT [dbo].[orders] ([Id], [UserId], [OrderDate], [TotalPrice]) VALUES (7, 17, CAST(N'2026-01-11T21:36:35.2078320' AS DateTime2), 265)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[packages] ON 

INSERT [dbo].[packages] ([Id], [Name], [NumOfTickets], [Price]) VALUES (2, N'Silver', 50, 300)
INSERT [dbo].[packages] ([Id], [Name], [NumOfTickets], [Price]) VALUES (3, N'Classic', 5, 40)
INSERT [dbo].[packages] ([Id], [Name], [NumOfTickets], [Price]) VALUES (5, N'Gold', 100, 500)
SET IDENTITY_INSERT [dbo].[packages] OFF
GO
SET IDENTITY_INSERT [dbo].[prizes] ON 

INSERT [dbo].[prizes] ([Id], [Name], [Description], [ImagePath], [Qty], [DonorId]) VALUES (4, N'Elegant Upright Piano', N'A high-quality upright piano featuring rich sound and a classic finish, perfect for students and professional musicians alike.', N'images\20d6f1f7-65fe-47a7-a606-b22a87181be8.webp', 1, 27)
INSERT [dbo].[prizes] ([Id], [Name], [Description], [ImagePath], [Qty], [DonorId]) VALUES (7, N'Luxury Family Retreat', N'Enjoy a relaxing weekend stay for the whole family in a serene and premium boutique hotel environment.', N'images\6b96ac0c-1515-4624-a9d4-3b67f0727b8a.webp', 1, 12)
INSERT [dbo].[prizes] ([Id], [Name], [Description], [ImagePath], [Qty], [DonorId]) VALUES (8, N'Professional Cookware Set', N'A premium 10-piece stainless steel cookware collection, built for durability and professional-grade meal preparation.', N'images\c3923d3d-fd08-49a9-8df5-9dd466c08132.webp', 1, 10)
SET IDENTITY_INSERT [dbo].[prizes] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([Id], [PrizeId], [UserId]) VALUES (84, 4, 7)
INSERT [dbo].[tickets] ([Id], [PrizeId], [UserId]) VALUES (85, 4, 7)
INSERT [dbo].[tickets] ([Id], [PrizeId], [UserId]) VALUES (86, 4, 7)
GO
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([Id], [FirstName], [LastName], [Email], [Password], [PhoneNumber], [Role]) VALUES (1, N'Devora', N'Vexler', N'dv@gmail.com', N'$2a$11$NY0FJirHAAW86u0mqwHGeeuucl9qVuJAcDI5coctbwppYCGpdw/La', N'0548467564', N'')
INSERT [dbo].[users] ([Id], [FirstName], [LastName], [Email], [Password], [PhoneNumber], [Role]) VALUES (2, N'Miri', N'Levi', N'ml@gmail.com', N'$2a$11$6it3VFW4ymzmL7wpS2tfZufmPdyqfPNGhqfk7EGHD9Sv.rbfh4YSC', N'0548465784', N'')
INSERT [dbo].[users] ([Id], [FirstName], [LastName], [Email], [Password], [PhoneNumber], [Role]) VALUES (3, N'Tamar', N'Levi', N'tl@gmail.com', N'$2a$11$YQr1ustPb7IVgNmn4laeeuyYqOxsEAA5rWCyfW4ZgdyJ03Dm3UQp6', N'0546852147', N'User')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[winners] ON 

INSERT [dbo].[winners] ([Id], [UserId], [PrizeId]) VALUES (21, 22, 8)
INSERT [dbo].[winners] ([Id], [UserId], [PrizeId]) VALUES (22, 22, 14)
INSERT [dbo].[winners] ([Id], [UserId], [PrizeId]) VALUES (23, 17, 7)
SET IDENTITY_INSERT [dbo].[winners] OFF
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[prizes] ADD  DEFAULT ((0)) FOR [DonorId]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_prizes_PrizeId] FOREIGN KEY([PrizeId])
REFERENCES [dbo].[prizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_prizes_PrizeId]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_users_UserId]
GO
ALTER TABLE [dbo].[CategoryPrize]  WITH CHECK ADD  CONSTRAINT [FK_CategoryPrize_categories_CategoriesId] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryPrize] CHECK CONSTRAINT [FK_CategoryPrize_categories_CategoriesId]
GO
ALTER TABLE [dbo].[CategoryPrize]  WITH CHECK ADD  CONSTRAINT [FK_CategoryPrize_prizes_PrizesId] FOREIGN KEY([PrizesId])
REFERENCES [dbo].[prizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryPrize] CHECK CONSTRAINT [FK_CategoryPrize_prizes_PrizesId]
GO
ALTER TABLE [dbo].[OrderPackage]  WITH CHECK ADD  CONSTRAINT [FK_OrderPackage_orders_OrdersId] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPackage] CHECK CONSTRAINT [FK_OrderPackage_orders_OrdersId]
GO
ALTER TABLE [dbo].[OrderPackage]  WITH CHECK ADD  CONSTRAINT [FK_OrderPackage_packages_PackagesId] FOREIGN KEY([PackagesId])
REFERENCES [dbo].[packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPackage] CHECK CONSTRAINT [FK_OrderPackage_packages_PackagesId]
GO
ALTER TABLE [dbo].[OrderPrize]  WITH CHECK ADD  CONSTRAINT [FK_OrderPrize_orders_OrdersId] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPrize] CHECK CONSTRAINT [FK_OrderPrize_orders_OrdersId]
GO
ALTER TABLE [dbo].[OrderPrize]  WITH CHECK ADD  CONSTRAINT [FK_OrderPrize_prizes_PrizesId] FOREIGN KEY([PrizesId])
REFERENCES [dbo].[prizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPrize] CHECK CONSTRAINT [FK_OrderPrize_prizes_PrizesId]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users_UserId]
GO
ALTER TABLE [dbo].[prizes]  WITH CHECK ADD  CONSTRAINT [FK_prizes_donors_DonorId] FOREIGN KEY([DonorId])
REFERENCES [dbo].[donors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[prizes] CHECK CONSTRAINT [FK_prizes_donors_DonorId]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_prizes_PrizeId] FOREIGN KEY([PrizeId])
REFERENCES [dbo].[prizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_prizes_PrizeId]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_users_UserId]
GO
ALTER TABLE [dbo].[winners]  WITH CHECK ADD  CONSTRAINT [FK_winners_prizes_PrizeId] FOREIGN KEY([PrizeId])
REFERENCES [dbo].[prizes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[winners] CHECK CONSTRAINT [FK_winners_prizes_PrizeId]
GO
ALTER TABLE [dbo].[winners]  WITH CHECK ADD  CONSTRAINT [FK_winners_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[winners] CHECK CONSTRAINT [FK_winners_users_UserId]
GO
